<div id='settings-detail'>
  <h5><%=t :new_pixel%></h5>
  <hr class="mt-2 mb-2"/>
  <%= render partial: 'pixels/remote_form'%>
  <h5><%=t :pixels%></h5>
  <hr class="mt-2 mb-2"/>
  <%= render partial: 'pixels/list'%>
</div>
