<div id='settings-detail'>
<h5><%=t :new_segment%></h5>
<hr class="mt-2 mb-2"/>
<%= render partial: 'segments/remote_form', locals: {segment: Segment.new}%>
<h5><%=t :segments%></h5>
<hr class="mt-2 mb-2"/>
<%for segment in @business.segments.order('level desc, updated_at asc')%>
  <%= render partial: 'products/scrollable_block', locals: {segment: segment, caller: 'settings'}%>
<%end%>
</div>
<script>
$(document).on('click', '.clickable', function(e){
  var $this = $(this);
  if($this.hasClass('collapsed')) {
    console.log(this);
    $this.parents('.card-inner').find('.search-results').slideDown();
    $this.removeClass('collapsed');
    $this.find('i').removeClass('fe-chevron-down').addClass('fe-chevron-up');
  } else {
    $this.parents('.card-inner').find('.search-results').slideUp();
    $this.addClass('collapsed');
    $this.find('i').removeClass('fe-chevron-up').addClass('fe-chevron-down');
  }
})
</script>
