<div id='cart-header' class="col-lg-2 text-right">
  <a href='/carts/<%= @cart.id%>' class="btn btn-sm btn-instagram"><i class="fe fe-shopping-cart"></i><%=t :shopping_cart%> (<%= cart.cart_items.count%>)</a>
</div>
