<% if caller == 'homepage' && !segment.view_in_homepage%>
<%else%>
<div class="card">
  <div class="card-header">
    <%= segment.title%>
    <% if caller == 'settings'%>
    <div class="card-options">
      <%= render partial: 'segments/segment_options', locals: {segment: segment}%>
    </div>
    <%end%>
  </div>
  <div class="card-body <% if caller == 'settings'&& segment.ext_code.blank?%>pt-0<%end%>">
    <% if caller == 'settings' && segment.ext_code.blank?%>
      <%= render partial: 'segments/segment_add_bar', locals: {segment: segment}%>
    <%end%>
    <section class="cd">
      <% for product in segment.produkts%>
      <%= render partial: 'products/product_card', locals: {product: product, segment: segment, caller: caller}%>
      <%end%>
    </section>
  </div>
</div>

<script>
$('.custom-switch-input').change(function() {
  var id = $(this).attr('id').split("_")[1];
  if($(this).is(":checked")) {
    $.ajax({
      url: '/segments/check/'+id,
      type: 'GET',
      dataType: 'json',
      data: {
        segment_id: id,
        to: 'check'
      },
      error: function() {
        $(this).attr("checked", false);
      },
      success: function(res) {
        $(this).attr("checked", true);
      }
    });
  } else {
    $.ajax({
      url: '/segments/check/'+id,
      type: 'GET',
      dataType: 'json',
      data: {
        segment_id: id,
        to: 'uncheck'
      },
      error: function() {
        $(this).attr("checked", true);
      },
      success: function(res) {
        $(this).attr("checked", false);
      }
    });
  }
});
</script>
<%end%>
